.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  list-style: none;
  display: flex;
}

/* To Select Items within the class */
.nav-items>li {
  padding: 10px;
}

.nav-logo {
  width: 60px;
}