<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Learning Vue</title>
  <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
  <script src="https://unpkg.com/vue@3.0.2"></script>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <h1>Hellow Vue!</h1>
  <div id="app">
    <!-- Don't need double bracket because it's an object properties. -->
    <!-- Shortcut for v:on = @ -->
    <!-- <button v-on:click="age++">Increase The Age!</button>
      <button @click="age--">Decrease The Age!</button> -->

    <!-- <div @click=changeTitle('Oatbringer')>Change Book Title</div> -->

    <!-- v-if= "true" is the same as using the if/else statement -->

    <!-- Attribute/Data Binding -->
    <!-- Using v-bind:href -->
    <!-- Shortcut for v-bind is ":" -->
    <!-- <a :href="url">Visit Google</a> -->

    <div v-if="showBooks">
      <!-- Have to put {{}} to call the title in the data function object properties -->
      <!-- Object properties in this #app, only accessible if it's mounted -->
      <!-- <p>{{title}} - {{author}} - {{age}}</p> -->


      <!-- Using For Loop to cycle through books object -->
      <!-- Dynamic Class -->
      <!-- Using v-bind shortcut: :class to generate the dynamic class -->
      <ul>
        <li v-for="book in filteredBooks" :class="{fave: book.isFave}" @click="toggleFave(book)">
          <h3>{{ book.title }}</h3>
          <p> {{ book.author }}</p>
        </li>
      </ul>
      <!-------------------------------------------------->
    </div>

    <button @click="toggleShowBooks">
      <span v-if="showBooks">Hide Books</span>
      <!-- !showBooks is the same as: showBooks == false -->
      <span v-if="!showBooks">Show Books</span>
      <!-- <span v-if="showBooks == false">Show Books</span> -->
    </button>

    <br>

    <!-- Mouse Events -->
    <!-- <div class="box" @mouseover="handleEvent($event, 5)">mouseover (enter)</div>
    <div class="box" @mouseleave="handleEvent">mouseleave</div>
    <div class="box" @dblclick="handleEvent">double click</div>
    <div class="box" @mousemove="handleMouseMove">Position - x: {{ x }} y: {{ y }}</div> -->

    <!-- Using v-show -->
    <!-- v-show won't remove the div from the DOM -->
    <!-- But v-if does and is time consuming -->
    <!-- <div v-show="showBooks">Currently Showing Books</div> -->
  </div>



  <!-- 
    <div id="car">
      <div v-if="showCars">
        <p>{{model}} - {{make}} - {{year}}</p>
      </div>

      <button @click="toggleShowCars">
        <span v-if="showCars">Hide Cars</span>
        <span v-else>Show Cars</span>
      </button>
    </div> -->

  <script src="script.js"></script>
</body>

</html>