* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: bisque;
  padding: 20px;
  display: flex;
  justify-content: center;
  font-family: 'Karla', sans-serif;
}

.dice-outer {
  margin: 80px;
  background-color: #0B2434;
  padding: 20px;
  display: flex;
  justify-content: center;
}

main {
  background-color: #F5F5F5;
  height: 500px;
  max-width: 800px;
  border-radius: 5px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  font-size: 40px;
  margin: 0;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  cursor: pointer;
  margin-bottom: 40px;
}

.die-face {
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.die-num {
  font-size: 2rem;
}

.roll-dice {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 6px;
  background-color: #5035FF;
  color: white;
  font-size: 1.2rem;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
  margin: auto;
}

.roll-dice:focus {
  outline: none;
}

.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

/* styles.css or App.css */
.die {
  display: inline-block;
  margin: 10px;
  position: relative;
}

.die-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.roll-container {
  display: flex;
  justify-content: space-evenly;
}

.roll-counter,
.roll-timer {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  border: solid #0B2434;
  border-radius: 10px;
  padding: 10px;
}

.roll-counter {
  margin-right: auto;
}

.roll-timer {
  margin-left: auto;
}